---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", stylingclasses = "" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  brødtekst:
    "max-w-[30ch] text-primary-500  text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl",
  meta: "text-white text-xs sm:text-sm md:text-sm lg:text-base xl:text-xl",
  bigCirkel:
    "mt-2 text-white text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl",
  samllCirkel:
    "text-white text-center italic text-xm sm:text-base md:text-lg lg:text-2xl xl:text-3xl",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>
